@import "../shared/styles/variables";
@import "../shared/styles/classifier";

canvas {
  &.loading {
    position: absolute;
    height: 0;
    width: 0;
  }

  cursor: crosshair;
  border: 5px solid $color-primary;
  margin-bottom: 20px;
}

button {
  position: absolute;
  top: 10px;
  right: 10px;
}

hr {
  margin: 10px 0 20px;
}
