<div>
  <canvas width="300" height="300" appDrawable (newImage)="predict($event)" [ngClass]="loading ? 'loading' : ''"></canvas>
  <div *ngIf="loading; else digits">
    <mat-spinner mode="indeterminate"></mat-spinner>
  </div>
  <ng-template #digits>
    <mat-card>
      <p>
        Draw a digit in the square area above.
      </p>
      <hr>
      <mat-card-title>
        <span>Predicted number: {{predictedNumber}}</span>
      </mat-card-title>
    </mat-card>
    <button mat-button mat-raised-button color="primary" (click)="canvas.clear(); clear();"><mat-icon [svgIcon]="">replay</mat-icon></button>
  </ng-template>
</div>
