<mat-toolbar color="primary">
  <h2>Project 2 - TensorFlow</h2>
  <ul>
    <li>
      <a mat-button [routerLink]="'/basic'" routerLinkActive="mat-accent">Basic training</a>
    </li>
    <li>
      <a mat-button [routerLink]="'/digits'" routerLinkActive="mat-accent">Digits recognition</a>
    </li>
    <li>
      <a mat-button [routerLink]="'/camera'" routerLinkActive="mat-accent">Objects recognition</a>
    </li>
  </ul>
</mat-toolbar>
