<div id="cameraView">
  <video autoplay playsinline muted id="camera" width="300" #video [ngClass]="loading ? 'loading' : ''"></video>
  <div *ngIf="loading; else camera">
    <mat-spinner mode="indeterminate"></mat-spinner>
  </div>
  <ng-template #camera>
    <mat-card>

      <mat-card-title>
        Predictions
      </mat-card-title>
      <mat-card-content>
        <p>
          Place an object in front of the camera to get live predictions.
        </p>
        <table mat-table [dataSource]="predictions">
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let i = index"> {{i}} </td>
          </ng-container>
          <ng-container matColumnDef="class">
            <th mat-header-cell *matHeaderCellDef class="objectClass">Class</th>
            <td mat-cell *matCellDef="let prediction" class="objectClass"> {{prediction.className}} </td>
          </ng-container>
          <ng-container matColumnDef="probability">
            <th mat-header-cell *matHeaderCellDef>Probability</th>
            <td mat-cell *matCellDef="let prediction"> {{prediction.probability}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>
