@import "../shared/styles/variables";
@import "../shared/styles/classifier";

video {
  &.loading {
    border: none;
    position: absolute;
    height: 0;
    width: 0;
  }

  display: flex;
  margin: auto;
  margin-bottom: 20px;
  border: 5px solid $color-primary;
}

table {
  width: 500px;
  max-width: calc(100% - 30px);

  .objectClass {
    width: 100%;
  }

  th {
    text-align: center;
  }
}
