:host {
  height: calc(100% - 64px);
  justify-content: center;
  align-items: center;
  display: flex;

  > div {
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
}
