<div>
  <mat-card>
    <mat-card-title>
      Linear Model
    </mat-card-title>
    <mat-card-content>
      <br>
      <p>Basic TensorFlow linear regression trained in the browser. <br />
        Type initial value below to get the prediction.</p>
      <mat-form-field>
        <mat-label>Initial value</mat-label>
        <input matInput (keyup)="linearPrediction($event)" placeholder="Initial value" required type="number">
      </mat-form-field>

      <h3>Predicted Value: <span class="badge badge-info">{{ prediction ? prediction : '--' }}</span></h3>
    </mat-card-content>
  </mat-card>
</div>
